# üìÅ Odmena Nigeria Project
## üìÑ A.I for Energy: Transitioning Toward a Sustainable Energy System
### üìÉ Cleaning the Nigeria GPS CSV Dataset downloaded from the DHS Library

we will be cleaning the gps data downloaded from the DHS Dataset library.

### üìù Info regarding accessing the Dataset

- The dataset was downloaded from the DHS Archives using this [link](https://dhsprogram.com/data/dataset_admin/login_main.cfm;jsessionid=D2884DD613D78701[‚Ä¶]&CFTOKEN=43b13061df228c76-8B032473-D864-1CE0-3AEA5EE27005CC99)
- You would need to create an account with DHS to access the dataset
- You would need to fill a form telling DHS what you need the dataset for and how the dataset can help you achieve your goals.
- After submitting the form, wait for about 5 days to recieve a response email from DHS. If granted permission, this email will inform you that you now have access to the dataset and also nstructions on how to access it as well as terms of use.
- Once you get a confirmation mail you can download only the dataset that you have been granted permission to access.

## üìù Summary of Conclusion

The DHS GPS Data was downloaded from the DHS data archives. It was successfully cleaned, all outliers were removed and the cleaned data was added to the project archives

### üìù Data Cleaning Process

#### ‚úî Step 1: Import the required libraries

As in any data cleaning project. The first thing we do is import the libraries we will use. In our case it's just the `Pandas` library.

In [ ]:
# import pandas,
import pandas as pd

Since we are using colab here, we'll also need to mount our gooogle drive to the colab notebook to fetch our data.

**Note:** 
- The data should be uploaded to your google drive storage. You can do this before or after mounting.
- If you are running this notebook locally then you can skip this step

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

#### ‚úî Step 2: Read the data into the notebook

Once the drive has been mounted, you can read in the file the same way you would on a local machine. You just need to replace `C://` with `/content/gdrive/My Drive/` as is done in the code cell below.

In [ ]:
file = '/content/gdrive/My Drive/NGGC7BFL.csv'

df = pd.read_csv(file)
df.head()

            DHSID GPS_Dataset  ... Wet_Days_2010  Wet_Days_2015
0  NG201800000001    NGGE7AFL  ...      7.083333       6.446666
1  NG201800000002    NGGE7AFL  ...      7.083333       6.446666
2  NG201800000003    NGGE7AFL  ...      8.760000       8.199166
3  NG201800000004    NGGE7AFL  ...      8.410000       7.852499
4  NG201800000005    NGGE7AFL  ...      9.687500       9.210000

[5 rows x 130 columns]

#### ‚úî Step 3: Drop all unwanted columns

There are a lot of columns in this dataset, a lot of them are not needed for our project so we need to drop them. The columns we drop for this cleaning are:
 
 * DHSID
 * GPS_DATASET
 * DHSCC
 * DHSYEAR 
 * DHSCLUST
 * SurveyID
 * Drought_Episodes
 * Enhanced_Vegitation_Index_1985
 * Enhanced_Vegitation_Index_1990
 * Enhanced_Vegitation_Index_1995
 * Enhanced_Vegitation_Index_2000
 * Enhanced_Vegitation_Index_2005
 * Enhanced_Vegitation_Index_2010
 * Enhanced_Vegitation_Index_2015
 * Frost_Days_2000
 * Frost_Days_2005
 * Frost_Days_2010
 * Frost_Days_2015
 * Gross_Cell_Production
 * Growing_Season_Length
 * Irrigation
 * ITN_Coverage_2005
 * ITN_Coverage_2010
 * ITN_Coverage_2015
 * Land_Surface_Temperature_2000
 * Land_Surface_Temperature_2005
 * Land_Surface_Temperature_2010
 * Livestock_Cattle
 * Livestock_Chickens
 * Livestock_Ducks
 * Livestock_Goats
 * Livestock_Pigs
 * Livestock_Sheep
 * Malaria_Incidence_2000
 * Malaria_Incidence_2005
 * Malaria_Incidence_2010
 * Malaria_Incidence_2015
 * Malaria_Prevalence_2000
 * Malaria_Prevalence_2005
 * Malaria_Prevalence_2010
 * Malaria_Prevalence_2015
 * Maximum_Temperature_2000
 * Maximum_Temperature_2005
 * Maximum_Temperature_2010
 * Mean_Temperature_2000
 * Mean_Temperature_2005
 * Mean_Temperature_2010
 * Minimum_Temperature_2000
 * Minimum_Temperature_2005
 * Minimum_Temperature_2010
 * Night_Land_Surface_Temp_2000
 * Night_Land_Surface_Temp_2005
 * Night_Land_Surface_Temp_2010
 * PET_2000
 * PET_2005
 * PET_2010
 * PET_2015
 * Proximity_to_National_Borders
 * Proximity_to_Protected_Areas
 * Rainfall_1985
 * Rainfall_1990
 * Rainfall_1995
 * Rainfall_2000
 * Rainfall_2005
 * Rainfall_2010
 * Slope
 * SMOD_Population_1990
 * SMOD_Population_2000
 * SMOD_Population_2015
 * Temperature_April
 * Temperature_August
 * Temperature_December
 * Temperature_February
 * Temperature_January
 * Temperature_July
 * Temperature_June
 * Temperature_March
 * Temperature_May
 * Temperature_November
 * Temperature_October
 * Temperature_September
 * Travel_Times_2000
 * Travel_Times_2015
 * U5_Population_2000
 * U5_Population_2005
 * U5_Population_2010
 * U5_Population_2015
 * UN_Population_Count_2000
 * UN_Population_Count_2005
 * UN_Population_Count_2010
 * UN_Population_Density_2000
 * UN_Population_Density_2005
 * UN_Population_Density_2010
 * UN_Population_Density_2015
 * Wet_Days_2000
 * Wet_Days_2005
 * Wet_Days_2010


 A list of all columns before dropping is shown below:

In [ ]:
df.columns

Index(['DHSID', 'GPS_Dataset', 'DHSCC', 'DHSYEAR', 'DHSCLUST', 'SurveyID',
       'All_Population_Count_2005', 'All_Population_Count_2010',
       'All_Population_Count_2015', 'Annual_Precipitation_2000',
       ...
       'UN_Population_Count_2010', 'UN_Population_Count_2015',
       'UN_Population_Density_2000', 'UN_Population_Density_2005',
       'UN_Population_Density_2010', 'UN_Population_Density_2015',
       'Wet_Days_2000', 'Wet_Days_2005', 'Wet_Days_2010', 'Wet_Days_2015'],
      dtype='object', length=130)

In [ ]:
column = df.columns

for col in column:
  print(col)

DHSID
GPS_Dataset
DHSCC
DHSYEAR
DHSCLUST
SurveyID
All_Population_Count_2005
All_Population_Count_2010
All_Population_Count_2015
Annual_Precipitation_2000
Annual_Precipitation_2005
Annual_Precipitation_2010
Annual_Precipitation_2015
Aridity_2000
Aridity_2005
Aridity_2010
Aridity_2015
BUILT_Population_1990
BUILT_Population_2000
BUILT_Population_2014
Day_Land_Surface_Temp_2000
Day_Land_Surface_Temp_2005
Day_Land_Surface_Temp_2010
Day_Land_Surface_Temp_2015
Diurnal_Temperature_Range_2000
Diurnal_Temperature_Range_2005
Diurnal_Temperature_Range_2010
Diurnal_Temperature_Range_2015
Drought_Episodes
Enhanced_Vegetation_Index_1985
Enhanced_Vegetation_Index_1990
Enhanced_Vegetation_Index_1995
Enhanced_Vegetation_Index_2000
Enhanced_Vegetation_Index_2005
Enhanced_Vegetation_Index_2010
Enhanced_Vegetation_Index_2015
Frost_Days_2000
Frost_Days_2005
Frost_Days_2010
Frost_Days_2015
Global_Human_Footprint
Gross_Cell_Production
Growing_Season_Length
Irrigation
ITN_Coverage_2005
ITN_Coverage_2010
ITN_Coverage_2015
Land_Surface_Temperature_2000
Land_Surface_Temperature_2005
Land_Surface_Temperature_2010
Land_Surface_Temperature_2015
Livestock_Cattle
Livestock_Chickens
Livestock_Ducks
Livestock_Goats
Livestock_Pigs
Livestock_Sheep
Malaria_Incidence_2000
Malaria_Incidence_2005
Malaria_Incidence_2010
Malaria_Incidence_2015
Malaria_Prevalence_2000
Malaria_Prevalence_2005
Malaria_Prevalence_2010
Malaria_Prevalence_2015
Maximum_Temperature_2000
Maximum_Temperature_2005
Maximum_Temperature_2010
Maximum_Temperature_2015
Mean_Temperature_2000
Mean_Temperature_2005
Mean_Temperature_2010
Mean_Temperature_2015
Minimum_Temperature_2000
Minimum_Temperature_2005
Minimum_Temperature_2010
Minimum_Temperature_2015
Nightlights_Composite
Night_Land_Surface_Temp_2000
Night_Land_Surface_Temp_2005
Night_Land_Surface_Temp_2010
Night_Land_Surface_Temp_2015
PET_2000
PET_2005
PET_2010
PET_2015
Proximity_to_National_Borders
Proximity_to_Protected_Areas
Proximity_to_Water
Rainfall_1985
Rainfall_1990
Rainfall_1995
Rainfall_2000
Rainfall_2005
Rainfall_2010
Rainfall_2015
Slope
SMOD_Population_1990
SMOD_Population_2000
SMOD_Population_2015
Temperature_April
Temperature_August
Temperature_December
Temperature_February
Temperature_January
Temperature_July
Temperature_June
Temperature_March
Temperature_May
Temperature_November
Temperature_October
Temperature_September
Travel_Times_2000
Travel_Times_2015
U5_Population_2000
U5_Population_2005
U5_Population_2010
U5_Population_2015
UN_Population_Count_2000
UN_Population_Count_2005
UN_Population_Count_2010
UN_Population_Count_2015
UN_Population_Density_2000
UN_Population_Density_2005
UN_Population_Density_2010
UN_Population_Density_2015
Wet_Days_2000
Wet_Days_2005
Wet_Days_2010
Wet_Days_2015

In [ ]:
column

Index(['DHSID', 'GPS_Dataset', 'DHSCC', 'DHSYEAR', 'DHSCLUST', 'SurveyID',
       'All_Population_Count_2005', 'All_Population_Count_2010',
       'All_Population_Count_2015', 'Annual_Precipitation_2000',
       ...
       'UN_Population_Count_2010', 'UN_Population_Count_2015',
       'UN_Population_Density_2000', 'UN_Population_Density_2005',
       'UN_Population_Density_2010', 'UN_Population_Density_2015',
       'Wet_Days_2000', 'Wet_Days_2005', 'Wet_Days_2010', 'Wet_Days_2015'],
      dtype='object', length=130)

In [ ]:
df1 = df[['All_Population_Count_2015','Annual_Precipitation_2015','Aridity_2015',
          'BUILT_Population_2014','Day_Land_Surface_Temp_2015','Diurnal_Temperature_Range_2015',
          'Global_Human_Footprint','Land_Surface_Temperature_2015','Maximum_Temperature_2015',
          'Mean_Temperature_2015','Minimum_Temperature_2015','Nightlights_Composite',
          'Night_Land_Surface_Temp_2015','Proximity_to_Water','Rainfall_2015','UN_Population_Count_2015',
          'Wet_Days_2015']]

In [ ]:
df1.head()

   All_Population_Count_2015  ...  Wet_Days_2015
0               94469.648438  ...       6.446666
1               61496.667969  ...       6.446666
2               57563.781250  ...       8.199166
3               28072.353516  ...       7.852499
4                7109.328613  ...       9.210000

[5 rows x 17 columns]

#### ‚úî Step 4: Look for missing values

Now we use the `df.info()` command to see the count of all non-null rows in each column. This will help use see if we have any null values in our dataset.

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1389 entries, 0 to 1388
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   All_Population_Count_2015       1389 non-null   float64
 1   Annual_Precipitation_2015       1389 non-null   float64
 2   Aridity_2015                    1389 non-null   float64
 3   BUILT_Population_2014           1389 non-null   float64
 4   Day_Land_Surface_Temp_2015      1389 non-null   float64
 5   Diurnal_Temperature_Range_2015  1389 non-null   float64
 6   Global_Human_Footprint          1389 non-null   float64
 7   Land_Surface_Temperature_2015   1389 non-null   float64
 8   Maximum_Temperature_2015        1389 non-null   float64
 9   Mean_Temperature_2015           1389 non-null   float64
 10  Minimum_Temperature_2015        1389 non-null   float64
 11  Nightlights_Composite           1389 non-null   float64
 12  Night_Land_Surface_Temp_2015    1389 non-null   float64
 13  Proximity_to_Water              1389 non-null   float64
 14  Rainfall_2015                   1389 non-null   float64
 15  UN_Population_Count_2015        1389 non-null   float64
 16  Wet_Days_2015                   1389 non-null   float64
dtypes: float64(17)
memory usage: 184.6 KB

From the code cell above, all the columns have the same amount of non-null values (1389 of them). 
This tells us that we have no missing values in the data.

#### ‚úî Step 5: Look for outliers

Now we look for outliers in our dataset. We can do this using the `df.describe()` method.

In [ ]:
df1.describe()

       All_Population_Count_2015  ...  Wet_Days_2015
count               1.389000e+03  ...    1389.000000
mean                1.039164e+05  ...    -438.870507
std                 1.660669e+05  ...    2067.192648
min                -9.999000e+03  ...   -9999.000000
25%                 2.274591e+04  ...       4.749166
50%                 5.241218e+04  ...       7.750000
75%                 1.242183e+05  ...       9.780000
max                 2.482358e+06  ...      14.435833

[8 rows x 17 columns]

After running the command, we see that all columns have a minimum value of `-9999.00`. This value seems too low of our data. For example, population counts cannot be a negative value and temperature values should not go as low as `-9999.0`.

We will have to deal with these. I chose to remove the rows containing these values from the dataset since we have a lot of data.

In [ ]:
df1[df1['Annual_Precipitation_2015'] == -9999.0]

      All_Population_Count_2015  ...  Wet_Days_2015
47                 -9999.000000  ...        -9999.0
121                -9999.000000  ...        -9999.0
204                -9999.000000  ...        -9999.0
334                -9999.000000  ...        -9999.0
335                -9999.000000  ...        -9999.0
...                         ...  ...            ...
1234                1355.886475  ...        -9999.0
1235              148111.453125  ...        -9999.0
1286               -9999.000000  ...        -9999.0
1310               37859.808594  ...        -9999.0
1327               -9999.000000  ...        -9999.0

[62 rows x 17 columns]

In [ ]:
df1[df1['Annual_Precipitation_2015'] == -9999.0].value_counts()

All_Population_Count_2015  Annual_Precipitation_2015  Aridity_2015  BUILT_Population_2014  Day_Land_Surface_Temp_2015  Diurnal_Temperature_Range_2015  Global_Human_Footprint  Land_Surface_Temperature_2015  Maximum_Temperature_2015  Mean_Temperature_2015  Minimum_Temperature_2015  Nightlights_Composite  Night_Land_Surface_Temp_2015  Proximity_to_Water  Rainfall_2015  UN_Population_Count_2015  Wet_Days_2015
-9999.000000               -9999.0                    -9999.0       -9999.000000           -9999.000000                -9999.0                         -9999.000000            -9999.000000                   -9999.0                   -9999.0                -9999.0                   -9999.000000           -9999.000000                  -9999.000000        -9999.000000   -9999.000000              -9999.0          30
 92894.773438              -9999.0                    -9999.0        0.928832               29.388000                  -9999.0                          56.642857               25.980667                     -9999.0                   -9999.0                -9999.0                    4.804449               22.573334                     4645.827415         1283.000000    32923.644531             -9999.0           1
 1355.886475               -9999.0                    -9999.0        0.267926               28.638889                  -9999.0                          21.000000               25.380278                     -9999.0                   -9999.0                -9999.0                    0.129499               22.121666                     851.016235         -9999.000000    2021.667847              -9999.0           1
 2142.746582               -9999.0                    -9999.0        0.047440               26.336000                  -9999.0                          28.000000               24.204428                     -9999.0                   -9999.0                -9999.0                    0.086056               22.072857                     746.245042         -9999.000000    1666.190918              -9999.0           1
 5019.837402               -9999.0                    -9999.0        0.098100              -9999.000000                -9999.0                          19.222222              -9999.000000                   -9999.0                   -9999.0                -9999.0                    0.046828              -9999.000000                   1417.387695         2441.000000    1288.537598              -9999.0           1
 6108.349121               -9999.0                    -9999.0        0.052844               25.457500                  -9999.0                          21.000000               23.618750                     -9999.0                   -9999.0                -9999.0                    1.188164               21.780001                     2896.401042         2846.000000    6165.503906              -9999.0           1
 17930.269531              -9999.0                    -9999.0        0.060554               26.752501                  -9999.0                         -9999.000000             24.383472                     -9999.0                   -9999.0                -9999.0                    0.076640               22.014444                     3051.597356         2817.000000    14481.884766             -9999.0           1
 19757.218750              -9999.0                    -9999.0        0.013930               26.012423                  -9999.0                          28.000000               23.864731                     -9999.0                   -9999.0                -9999.0                    0.012018               21.717036                     1651.290883         2366.666667    17418.058594             -9999.0           1
 23910.435547              -9999.0                    -9999.0        0.004103               25.494354                  -9999.0                          28.615079               23.378885                     -9999.0                   -9999.0                -9999.0                    0.007941               21.263416                     4001.118114         2079.900000    35417.296875             -9999.0           1
 30278.449219              -9999.0                    -9999.0        0.009335               26.040705                  -9999.0                          28.052402               24.005068                     -9999.0                   -9999.0                -9999.0                    0.022844               21.969426                     1529.546719         2350.600000    26098.714844             -9999.0           1
 36276.148438              -9999.0                    -9999.0        0.736981               28.280001                  -9999.0                          57.076923               25.279167                     -9999.0                   -9999.0                -9999.0                    1.965457               22.278334                     2297.693209         1277.000000    7408.410156              -9999.0           1
 37859.808594              -9999.0                    -9999.0        0.001170               26.617416                  -9999.0                          28.222222               24.132708                     -9999.0                   -9999.0                -9999.0                    0.072337               21.648002                     5799.886574         1937.428571    54821.257812             -9999.0           1
 43409.382812              -9999.0                    -9999.0        0.022118               26.389768                  -9999.0                          28.000000               24.025233                     -9999.0                   -9999.0                -9999.0                    0.043541               21.660700                     1788.546559         2479.200000    25987.916016             -9999.0           1
 50778.570312              -9999.0                    -9999.0        0.259000               27.396667                  -9999.0                          46.214286               24.940001                     -9999.0                   -9999.0                -9999.0                    1.414105               22.483334                     4159.568638         1332.000000    55104.628906             -9999.0           1
 53218.332031              -9999.0                    -9999.0        0.994556               30.516666                  -9999.0                          82.090909               26.971666                     -9999.0                   -9999.0                -9999.0                    36.354379              23.426666                     336.217590          1382.000000    24646.277344             -9999.0           1
 53398.164062              -9999.0                    -9999.0        0.482516               28.573334                  -9999.0                          49.785714               25.590834                     -9999.0                   -9999.0                -9999.0                    2.586428               22.608334                     4226.648438         1304.000000    36047.867188             -9999.0           1
 718334.125000             -9999.0                    -9999.0        0.980243               30.966667                  -9999.0                          77.800000               27.016666                     -9999.0                   -9999.0                -9999.0                    17.485227              23.066668                     3210.037642         1274.000000    443904.750000            -9999.0           1
 586326.687500             -9999.0                    -9999.0        1.000000               34.308182                  -9999.0                          84.750000               28.619925                     -9999.0                   -9999.0                -9999.0                    13.789609              22.931667                     2945.622768         1134.000000    392853.375000            -9999.0           1
 148111.453125             -9999.0                    -9999.0        0.199191               28.090378                  -9999.0                          36.616848               24.712898                     -9999.0                   -9999.0                -9999.0                    0.727700               21.335416                     5504.271429         1235.583333    215716.250000            -9999.0           1
 170710.906250             -9999.0                    -9999.0        0.996847               30.960909                  -9999.0                          68.866667               26.459621                     -9999.0                   -9999.0                -9999.0                    7.482512               21.958334                     8620.918870         1169.000000    61331.207031             -9999.0           1
 177757.625000             -9999.0                    -9999.0        0.056944               26.434481                  -9999.0                          30.350877               24.191027                     -9999.0                   -9999.0                -9999.0                    0.035154               21.947573                     1406.731370         2938.833333    159209.703125            -9999.0           1
 196058.718750             -9999.0                    -9999.0        0.836689               30.646667                  -9999.0                          93.000000               26.908333                     -9999.0                   -9999.0                -9999.0                    27.762085              23.170000                     0.000000            1306.000000    53394.796875             -9999.0           1
 199257.421875             -9999.0                    -9999.0        0.909234               32.798000                  -9999.0                          97.200000               27.824833                     -9999.0                   -9999.0                -9999.0                    11.792116              22.851667                     580.489258          1306.000000    80937.609375             -9999.0           1
 200640.406250             -9999.0                    -9999.0        0.122823               25.767548                  -9999.0                          21.098131               23.959551                     -9999.0                   -9999.0                -9999.0                    10.903082              22.151555                     1870.535542         2831.571429    108752.695312            -9999.0           1
 216645.984375             -9999.0                    -9999.0        0.046690               26.564713                  -9999.0                         -9999.000000             24.065341                     -9999.0                   -9999.0                -9999.0                    0.009203               21.565969                     1506.828846         2837.666667    232890.718750            -9999.0           1
 283935.187500             -9999.0                    -9999.0        1.000000               34.308182                  -9999.0                          81.000000               28.619925                     -9999.0                   -9999.0                -9999.0                    12.591088              22.931667                     5584.410156         1134.000000    329991.593750            -9999.0           1
 355461.656250             -9999.0                    -9999.0        0.942763               32.798000                  -9999.0                          92.222222               27.824833                     -9999.0                   -9999.0                -9999.0                    10.323445              22.851667                     849.397678          1458.000000    135191.593750            -9999.0           1
 426748.562500             -9999.0                    -9999.0        1.000000               34.308182                  -9999.0                          82.285714               28.619925                     -9999.0                   -9999.0                -9999.0                    15.462217              22.931667                     3671.438101         1134.000000    240444.281250            -9999.0           1
 438632.375000             -9999.0                    -9999.0        0.999973               32.798000                  -9999.0                          90.428571               27.824833                     -9999.0                   -9999.0                -9999.0                    17.341767              22.851667                     1774.399940         1306.000000    134219.265625            -9999.0           1
 447595.812500             -9999.0                    -9999.0        1.000000               34.308182                  -9999.0                          81.857143               28.619925                     -9999.0                   -9999.0                -9999.0                    15.200288              22.931667                     4573.642253         1134.000000    252367.437500            -9999.0           1
 493313.562500             -9999.0                    -9999.0        0.825856               30.966667                  -9999.0                          80.733333               27.016666                     -9999.0                   -9999.0                -9999.0                    26.301038              23.066668                     1065.114702         1274.000000    131902.390625            -9999.0           1
 564876.125000             -9999.0                    -9999.0        0.975429               30.966667                  -9999.0                          78.714286               27.016666                     -9999.0                   -9999.0                -9999.0                    16.679827              23.066668                     3496.565848         1274.000000    476892.468750            -9999.0           1
 114579.445312             -9999.0                    -9999.0        0.915496               28.573334                  -9999.0                          57.866667               25.590834                     -9999.0                   -9999.0                -9999.0                    3.825910               22.608334                     4965.586238         1169.000000    35228.585938             -9999.0           1
dtype: int64

In [ ]:
df1 = df1[df1['Annual_Precipitation_2015'] != -9999.0]

df1.head()

   All_Population_Count_2015  ...  Wet_Days_2015
0               94469.648438  ...       6.446666
1               61496.667969  ...       6.446666
2               57563.781250  ...       8.199166
3               28072.353516  ...       7.852499
4                7109.328613  ...       9.210000

[5 rows x 17 columns]

In [ ]:
df1.describe()

       All_Population_Count_2015  ...  Wet_Days_2015
count               1.327000e+03  ...    1327.000000
mean                1.043153e+05  ...       7.797186
std                 1.655601e+05  ...       2.883874
min                 2.335047e+02  ...       2.309167
25%                 2.414434e+04  ...       5.165000
50%                 5.357721e+04  ...       8.129167
75%                 1.241933e+05  ...       9.962500
max                 2.482358e+06  ...      14.435833

[8 rows x 17 columns]

In [ ]:
df1[df1['Day_Land_Surface_Temp_2015'] == -9999.0]

      All_Population_Count_2015  ...  Wet_Days_2015
1128               23855.457031  ...      12.961666

[1 rows x 17 columns]

In [ ]:
df1 = df1.drop(1128, axis=0)

df1

      All_Population_Count_2015  ...  Wet_Days_2015
0                  94469.648438  ...       6.446666
1                  61496.667969  ...       6.446666
2                  57563.781250  ...       8.199166
3                  28072.353516  ...       7.852499
4                   7109.328613  ...       9.210000
...                         ...  ...            ...
1384               48227.656250  ...       8.818334
1385              191277.156250  ...       8.147500
1386               19350.255859  ...       8.572500
1387               74482.679688  ...       8.983334
1388              389235.968750  ...       8.818334

[1326 rows x 17 columns]

In [ ]:
df1.describe()

       All_Population_Count_2015  ...  Wet_Days_2015
count               1.326000e+03  ...    1326.000000
mean                1.043760e+05  ...       7.793292
std                 1.656078e+05  ...       2.881468
min                 2.335047e+02  ...       2.309167
25%                 2.420504e+04  ...       5.156666
50%                 5.373700e+04  ...       8.105416
75%                 1.242058e+05  ...       9.962500
max                 2.482358e+06  ...      14.435833

[8 rows x 17 columns]

In [ ]:
df1[df1['Rainfall_2015'] == -9999.0]

      All_Population_Count_2015  ...  Wet_Days_2015
1121               67134.265625  ...      12.124166
1122              102461.734375  ...      12.124166

[2 rows x 17 columns]

In [ ]:
df1 = df1.drop([1121, 1122], axis= 0)

df1.head()

   All_Population_Count_2015  ...  Wet_Days_2015
0               94469.648438  ...       6.446666
1               61496.667969  ...       6.446666
2               57563.781250  ...       8.199166
3               28072.353516  ...       7.852499
4                7109.328613  ...       9.210000

[5 rows x 17 columns]

Now that we have finished removing all outliers, we should take a look at the rest of the data to make sure it is properly cleaned.

In [ ]:
df1.describe()

       All_Population_Count_2015  ...  Wet_Days_2015
count               1.324000e+03  ...    1324.000000
mean                1.044056e+05  ...       7.786750
std                 1.657297e+05  ...       2.878718
min                 2.335047e+02  ...       2.309167
25%                 2.415551e+04  ...       5.148333
50%                 5.356173e+04  ...       8.081250
75%                 1.243021e+05  ...       9.962500
max                 2.482358e+06  ...      14.435833

[8 rows x 17 columns]

#### ‚úî Step 6: Save our cleaned data into  file

Now that our data is properly cleaned. We should save our data in a file. I chose to save it as a csv file.

We will achieve this using the `df.to_csv()` method from `pandas`.

In [ ]:
df1.to_csv('/content/gdrive/My Drive/NGGC7BFL-cleaned.csv', index=False)

## üèÅ Conclusion

The DHS GPS Data was successfully cleaned, all outliers were removed and the cleaned data was added to the project archives